# Language Fundamentals

### 1. Manipulate Using a List

In [5]:
#i) To add new elements to the end of the list

lst= [20,'selva',378.33,70,-10]
lst.append('raj')

lst

[20, 'selva', 378.33, 70, -10, 'raj']

In [7]:
#ii)To reverse elements in the list
lst.reverse()
lst

['raj', -10, 70, 378.33, 'selva', 20]

In [9]:
#iii)To display same list of elements multiple times.
print('list of elements multiple times :\n',lst*3)

list of elements multiple times :
 ['raj', -10, 70, 378.33, 'selva', 20, 'raj', -10, 70, 378.33, 'selva', 20, 'raj', -10, 70, 378.33, 'selva', 20]

In [11]:
#iv) To concatenate two List

lst1=[44,60,77,'concate','10']
lst.extend(lst1)
lst

['raj', -10, 70, 378.33, 'selva', 20, 44, 60, 77, 'concate', '10']

### 2. Write a python program to do in tuples

In [37]:
tuples = (20,8735,200,'tuple')

#i) Manipilate Using Tuples
#ii)To add new element to end of the tuples

#We can't manipulate and Adding new element in the tuple is not possible because Tuple is immutable in nature. 
#so creating an new tuple variable to add new tuple elements.

element=70
new_tuple = tuples+('element',)
new_tuple

(20, 8735, 200, 'tuple', 'element')

In [38]:
#iii) To reverse elements in the list

lst=list(tuples) #Converted tuple to list for reverse an element
lst.reverse()
lst

['tuple', 200, 8735, 20]

In [39]:
#iv) Display same element multiple times)
tuples*2

(20, 8735, 200, 'tuple', 20, 8735, 200, 'tuple')

In [40]:
#v) Concatenate Two tuples
tuples1 =(17,87,90)
concate = tuples + tuples1

concate

(20, 8735, 200, 'tuple', 17, 87, 90)

In [44]:
#vi) sort element in the list Ascending order
tuples_sort=list(tuples1)
tuples_sort.sort()
tuples_sort

[17, 87, 90]

### 3.Write a Python program to implement the following using list

In [45]:
#i) create list with integers 
lst =[10,20,30,40,50,60,70,80,90,100,110,120]
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [50]:
#ii) Display last number in the list
lst[11:]
#or
lst[-1]

120

In [51]:
#iii) command for displaying the values from the list[0:4]
lst[0:4]

[10, 20, 30, 40]

In [52]:
#iv) command for displaying the values from the list[2:]
lst[2:]

[30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [53]:
#v) command for displaying the values from the list[:6]
lst[:6]

[10, 20, 30, 40, 50, 60]

### 4. Write a Python program: tuple1 = (10,50,20,40,30)

In [64]:
tuple1 =  (10,50,20,40,30)
#i) display element 10 and 50 from tuple1
tuple1[0:2]

(10, 50)

In [65]:
#ii)Display Length of tuple1
len(tuple1)

5

In [66]:
#iii)Find Minimum element from tuple1
min = tuple1[0]
for i in range(1,len(tuple1)):
    if(tuple1[i]< min):
        min = tuple1[i]
min

10

In [72]:
#iv)add all elements in tuple1
sum_element =0
for i in range(1,len(tuple1)):
    sum_element +=tuple1[i];
sum_element

140

In [73]:
#v)Display same tuple1 muliple times
tuple1*3

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

### 5. Write a python Program

In [74]:
#i)Calculate length of string

string ='selvaraj'
len(string)

8

In [79]:
#ii)Reverse words in a string

reverse=string[::-1]
reverse

'jaravles'

In [83]:
#iii)Display same string multiple times
reverse*4

'jaravlesjaravlesjaravlesjaravles'

In [84]:
#iv) Concatenate two string
string1 = '2577127'
concate = string + string1
concate

'selvaraj2577127'

In [89]:
#v)Slicing String to display "india"
Str1 ="south India"
Str1[6:]

'India'

### 6. dictionary in Python

In [26]:
#i) Create a dictionary with some initial key-value pairs
my_dict = {
    'name': 'selvaraj',
    'age': 30,
    'city': 'Tamil Nadu'
}

In [27]:
#ii) Accessing values using keys
print("Name:", my_dict['name'])  # Accessing value by key 'name'
print("Age:", my_dict['age'])    # Accessing value by key 'age'

keys = list(my_dict.keys())      # Get a list of keys
print("Keys:", keys)

Name: selvaraj
Age: 30
Keys: ['name', 'age', 'city']

In [28]:
#iii) Function to update age
def update_age(new_age):
    my_dict['age'] = new_age

# Update the age using the function
update_age(32)
print("Updated Age:", my_dict['age'])

Updated Age: 32

In [29]:
#iv) Clear all values in the dictionary
my_dict.clear()
print("Dictionary after clearing:", my_dict)

# Delete the entire dictionary
del my_dict

Dictionary after clearing: {}

### 7. Python program to insert a number to any position in a list

In [97]:
lst = [1,2,3,4,5,6,7,8,9]

lst.insert(4,10) #insert(position, element)
lst.insert(5,-1000)
lst

[1, 2, 3, 4, 10, -1000, 5, 6, 7, 8, 9]

### 8. Python program to delete a number from the list by a index

In [98]:
lst.pop(3)
lst.pop(7)
lst

[1, 2, 3, 10, -1000, 5, 6, 8, 9]

### 9. Write a program to display a number from 1 to 100

In [102]:
for i in range(0,100):
   print(i+1,'\n')

1

2

3

4

5

6

7

8

9

10

11

12

13

14

15

16

17

18

19

20

21

22

23

24

25

26

27

28

29

30

31

32

33

34

35

36

37

38

39

40

41

42

43

44

45

46

47

48

49

50

51

52

53

54

55

56

57

58

59

60

61

62

63

64

65

66

67

68

69

70

71

72

73

74

75

76

77

78

79

80

81

82

83

84

85

86

87

88

89

90

91

92

93

94

95

96

97

98

99

100

### 10. Write a program to to find the sum of all items in a tuple

In [105]:
tuples=(3,10,17,100)
sum=0
x=len(tuples)
for i in range(0, x):
    sum +=tuples[i]

sum

130

### 11. Creating a dictionary containing three lambda functions square, cube and square root:

In [117]:


dict_lambda ={
    'square': lambda x: x**2,
    'cube': lambda x: x**3,
    'squareroot': lambda x: x**0.5
}

x=int(input("Enter value of x: "))

square_res = dict_lambda['square'](x)
cube_res = dict_lambda['cube'](x)
squareroot_res = dict_lambda['squareroot'](x)

print('The Square of {} is {}'.format(x,square_res))
print('The cube of {} is {}'.format(x,cube_res))
print('The squareroot of {} is {}'.format(x,squareroot_res))

Enter value of x: 3
The Square of 3 is 9
The cube of 3 is 27
The squareroot of 3 is 1.7320508075688772

### 12. A list of word is given. Find the words from the list that have their second character in uppertcase

In [2]:
ls =['hello','Dear','hOw','ARe','You']

for word in ls:
    if(word[1].isupper()):
        print(word)

hOw
ARe

### 13. Find how much they will weigh on the moon. (Use map and lambda functions) Formula : wMoon = (wEarth * GMoon) / GEarth
i) Weight of people in kg
   WeightOnEarth = {'John': 45, 'Shelly':65, 'Marry': 35)
ii) Gravitational force on the Moon: 1.622 m/52
    GMoon = 1.622
iii)Gravitational force on the Earth: 9.81 m/s2
    GEarth = 9.81

In [3]:
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622
GEarth = 9.81

# Use map and lambda to calculate weights on the Moon
WeightOnMoon = list(map(lambda name, weight: (weight * GMoon) / GEarth, WeightOnEarth.keys(), WeightOnEarth.values()))

WeightOnMoonDict = dict(zip(WeightOnEarth.keys(), WeightOnMoon))
print(WeightOnMoonDict)

{'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704383}

# Control Structures

### 1. N Prime number

In [5]:
n = int(input("Enter the value of n: "))
count =0
for i in range(1,n+1):
    if(n%i==0):
        count+=1
if(count==2):
    print('prime number')
else:
    print('Not Prime number')

Enter the value of n: 10
Not Prime number

### 2. calculates the salary of an employee

In [5]:
basic_salary = float(input("Enter Basic Salary: "))
HA = float(input("Enter House Allowance (HA): "))
TA = float(input("Enter Travel Allowance (TA): "))
DA = float(input("Enter Dearness Allowance (DA): "))

gross_salary = basic_salary + HA + TA + DA

tax = 0.10 * gross_salary

net_salary = gross_salary - tax

print("Gross Salary:", gross_salary)
print("Tax Deduction is 10% of Gross Salary :", tax)
print("Net Salary:", net_salary)

Enter Basic Salary: 40000
Enter House Allowance (HA): 10000
Enter Travel Allowance (TA): 2000
Enter Dearness Allowance (DA): 2000
Gross Salary: 54000.0
Tax Deduction is 10% of Gross Salary : 5400.0
Net Salary: 48600.0

### 3. Search for string in the given list

In [12]:
ls=['good','morning','everyone']

search_string =input('enter string : \n')
found = False
for string in ls:
    if(string == search_string):
        found = True
        break
if found:
    print('Given string is in the list')
else:
    print('Given string is not in the list')

enter string :
good
Given string is in the list

### 4. Accept string and calculate the number of upper-case and lower-case letter

In [11]:
string = input("Enter a string: ")
uppercase_count = 0
lowercase_count = 0
for char in string:
    if char.isupper():
        uppercase_count += 1
    elif char.islower():
        lowercase_count += 1

print("Count of Uppercase letters:", uppercase_count)
print("Count of Lowercase letters:", lowercase_count)

Enter a string: GooD
Count of Uppercase letters: 2
Count of Lowercase letters: 2

### 5. Sum of Odd and Even Numbers between 12 and 37

In [12]:
even = 0
odd = 0

for num in range(12, 38):
    if num % 2 == 0:
        even+=num
    else:
        odd+=num

print("Sum of even numbers:", even)
print("Sum of odd numbers:", odd)

Sum of even numbers: 312
Sum of odd numbers: 325

### 6. Print table of any number

In [13]:
num = int(input("Enter a number: "))

for i in range(1, 11):  
    product = num * i
    print('{} x {} = {}'.format(num,i,product))

Enter a number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

### 7. Sum of first 10 prime number

In [57]:
def prime_number(n):
    sumofPrime = 0 
    count_prime = 0
    
    for i in range(2, n + 1):
        count = 0
        for j in range(1, i + 1):
            if i % j == 0:
                count = count + 1
        if count == 2:
            sumofPrime = sumofPrime + i  
            count_prime += 1
            if count_prime == 10: 
                break

    print("Sum of the first 10 prime numbers:", sumofPrime)

prime_number(30)

Sum of the first 10 prime numbers: 129

### 8. Implement arithmetic operations using nested if statement

In [17]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")

if operation == '+':
    result = num1 + num2
    print(result)
elif operation == '-':
    result = num1 - num2
    print(result)
elif operation == '*':
    result = num1 * num2
    print(result)
elif operation == '/':
    if num2 != 0: 
        result = num1 / num2
        print(result)
    else:
        print("Error: Division by zero")
else:
    print("Invalid operation")

Enter the first number: 23
Enter the second number: 54
Enter the operation (+, -, *, /): /
0.42592592592592593

### 9. Temperature in celsius and convert it to Fahrenheit

In [1]:
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print("{} degrees Celsius is equal to {} degrees Fahrenheit".format(celsius,fahrenheit))

Enter temperature in Celsius: 10
10.0 degrees Celsius is equal to 50.0 degrees Fahrenheit

### 10. Maximum and minimum number in the list

In [21]:
ls =[3, 1, 7, 12, 5, 9, -2, 8]
max=min=ls[0]

for i in range(1,len(ls)):
    if max < ls[i]:
        max = ls[i]

for i in range(1,len(ls)):
    if min > ls[i]:
        min = ls[i]

print('maximum value is {} and Minimum Value is {}'.format(max,min))

maximum value is 12 and Minimum Value is -2

### 11. number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute

In [3]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

seconds_in_30_day_month = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute

print('Number of seconds in a 30-day month is {}'.format(seconds_in_30_day_month))

Number of seconds in a 30-day month is 2592000

### 12. Print number of seconds in year

In [2]:
days_year = 365
seconds_day = 24*60*60

seconds_year = days_year * seconds_day
print('Seconds in a year is {}'.format(seconds_year))

Seconds in a year is 31536000

### 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [5]:
distance = 414
speed = 150

time_hours = distance / speed

print('Hours to travel from London to Glasgow at 150 mph is {}'.format(time_hours))

Hours to travel from London to Glasgow at 150 mph is 2.76

### 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [6]:
days_in_each_school_year = 192

total_hours = 0
for year in range(7, 12):
    total_hours += year * days_in_each_school_year * 6
print('Total hours spent in school from year 7 to year 11 is ', total_hours)

Total hours spent in school from year 7 to year 11 is  51840

### 15. Determine the eldest and youngest of the three

In [9]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

eldest_age = max(ram_age, sam_age, khan_age)
youngest_age = min(ram_age, sam_age, khan_age)

if ram_age == sam_age == khan_age:
    print("Ram, Sam, and Khan are of the same age.")

else:
    if eldest_age == ram_age:
        eldest_name = "Ram"
    elif eldest_age == sam_age:
        eldest_name = "Sam"
    else:
        eldest_name = "Khan"

    if youngest_age == ram_age:
        youngest_name = "Ram"
    elif youngest_age == sam_age:
        youngest_name = "Sam"
    else:
        youngest_name = "Khan"

    print('The eldest among Ram, Sam, and Khan is "{}" age of {}'.format(eldest_name,eldest_age))
    print('The youngest among Ram, Sam, and Khan is "{}" age of {}'.format(youngest_name,youngest_age))

Enter Ram's age: 40
Enter Sam's age: 15
Enter Khan's age: 50
The eldest among Ram, Sam, and Khan is "Khan" age of 50
The youngest among Ram, Sam, and Khan is "Sam" age of 15

### 16. Rotate a list by right n times with and without slicing technique.

In [14]:
def with_slicing(input_list, n):
    n = n % len(input_list)
    rotated_list = input_list[-n:] + input_list[:-n]
    return rotated_list

lst = [1, 2, 3, 4, 5]
n = 3
rotated_list = with_slicing(lst, n)
print("Rotated list with slicing:", rotated_list)

def without_slicing(input_list, n):
    n = n % len(input_list)  
    rotated_list = [0] * len(input_list)
    
    for i in range(len(input_list)):
        new_index = (i + n) % len(input_list)
        rotated_list[new_index] = input_list[i]
    
    return rotated_list

lst = [1, 2, 3, 4, 5]
n = 4
rotated_list = without_slicing(lst, n)
print("Rotated list without slicing:", rotated_list)

Rotated list with slicing: [3, 4, 5, 1, 2]
Rotated list without slicing: [2, 3, 4, 5, 1]

### 17. Print the patterns

In [19]:
#pattern 1

def pattern1(n):
    for i in range(n):
        num = 1
        for j in range(1, n - i + 1):
            print(" ", end="")
        for j in range(i + 1):
            print(num, end=" ")
            num = num * (i - j) // (j + 1)
        print()

pattern1(7)

       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1
 1 6 15 20 15 6 1

In [20]:
# Pattern2

def Pattern2(n):
    for i in range(1, n + 1):
        print("*" * i)
Pattern2(5)

*
**
***
****
*****

In [33]:
# pattern3
def triangle(n):
    k = n - 1
 
    # outer loop to handle number of rows
    for i in range(0, n):
     
        # inner loop to handle number spaces
        for j in range(0, k):
            print(end=" ")
        k = k - 1
     
        # inner loop to handle number of columns
        for j in range(0, i+1):
            print("* ", end="")
        print("\r")

triangle(7)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [39]:
#pattern 4
def python_pattern(text):
    for i in range(1, len(text) + 1):
        print(text[:i])

text = "python"
python_pattern(text)

p
py
pyt
pyth
pytho
python