# Module and Virtual Environments

### 1. Module Import and Management Scenario

In [16]:
# i) Import multiple modules within your project.
import math
import random
import datetime


print(f"Value of pi: {math.pi}")
print(f"Random number between 1 and 10: {random.randint(1, 10)}")

current_date = datetime.date.today()
print(f"Today's date: {current_date}")

Value of pi: 3.141592653589793
Random number between 1 and 10: 3
Today's date: 2023-09-15

In [18]:
#creating my own module called mymodule.py

"""def add(a, b):
    a = int(a)
    b = int(b)
    return f"Addition of {a} and {b} is {a + b}""""

# ii) Use the import statement to access functions, classes, and variables from imported modules.
# iii) Create your custom module and use it in your main program.


#imported mymodule which has add() function...

import mymodule
result = add(10, 70)
print(result)

Addition of 10 and 70 is 80

In [32]:
# iv)Handle naming conflicts and ensure proper namespacing.

try:
    #imported incorrect module
    import mymodule1
except ImportError:
    print("There was a naming conflict with 'mymodule'. Renaming our mymodule to 'mymodule2'.")
    import mymodule as mymodule2
    print()
    print(add(20,40))

There was a naming conflict with 'mymodule'. Renaming our custom module to 'mymodule2'.

Addition of 20 and 40 is 60

In [22]:
# v) Implement error handling for missing modules 
try:
    import module
except ModuleNotFoundError as e:
    print(f"Error: {e}")

Error: No module named 'module'

In [28]:
import math
try:
    #imported math module but usage is incorrect. we cant do square root on negative value
    result = math.sqrt(-20)
except ValueError as e:
    print(f"Error: {e}")

Error: math domain error

### 2.Virtual Environment Management Scenario

In [8]:
import os
import subprocess
import sys

def create(env_name):
    try:
        subprocess.run([sys.executable, '-m', 'venv', env_name], check=True)
        print(f"Virtual environment '{env_name}' created successfully.")
    except subprocess.CalledProcessError:
        print(f"Error creating virtual environment '{env_name}'.")

def activate(env_name):
    try:
        subprocess.run(['activate'], shell=True, check=True)
        print(f"Activated virtual environment '{env_name}'.")
    except subprocess.CalledProcessError:
        print(f"Error activating virtual environment '{env_name}'.")

def deactivate():
    try:
        subprocess.run(['deactivate'], shell=True, check=False)
        print("Deactivated virtual environment.")
    except subprocess.CalledProcessError:
        print("Error deactivating virtual environment.")

def install_package(env_name, package_name):
    try:
        subprocess.run([os.path.join(env_name, 'Scripts' if sys.platform == 'win32' else 'bin', 'pip'), 'install', package_name], check=True)
        print(f"Package '{package_name}' installed successfully in '{env_name}'.")
    except subprocess.CalledProcessError:
        print(f"Error installing package '{package_name}' in '{env_name}'.")

def list_packages(env_name):
    try:
        result = subprocess.run([os.path.join(env_name, 'Scripts' if sys.platform == 'win32' else 'bin', 'pip'), 'list'], stdout=subprocess.PIPE, text=True, check=True)
        print(f"Installed packages in '{env_name}':\n{result.stdout}")
    except subprocess.CalledProcessError:
        print(f"Error listing installed packages in '{env_name}'.")


env_name = "python_env"

create(env_name)

activate(env_name)

install_package(env_name, "requests")

list_packages(env_name)

deactivate()

Virtual environment 'python_env' created successfully.
Activated virtual environment 'python_env'.
Package 'requests' installed successfully in 'python_env'.
Installed packages in 'python_env':
Package            Version
------------------ ---------
certifi            2023.7.22
charset-normalizer 3.2.0
idna               3.4
pip                23.1.2
requests           2.31.0
setuptools         65.5.0
urllib3            2.0.4

Deactivated virtual environment.

### 3.Module Dependency Resolution Scenario

In [3]:
import sys
import os
import venv
import pip

def create_virtual_environment(venv_dir):
    try:
        venv.create(venv_dir, with_pip=True)
        return True
    except Exception as e:
        print(f"Error creating virtual environment: {str(e)}")
        return False

def install_dependencies(venv_dir, requirements_file):
    venv_python = os.path.join(venv_dir, 'bin', 'python')
    pip_main = os.path.join(venv_dir, 'bin', 'pip')
    
    try:
        # Upgrade pip within the virtual environment
        os.system(f"{venv_python} -m pip install --upgrade pip")
        
        # Install project dependencies from requirements.txt
        os.system(f"{pip_main} install -r {requirements_file}")
        return True
    except Exception as e:
        print(f"Error installing dependencies: {str(e)}")
        return False

def main():
    venv_dir = "my_venv"
    requirements_file = "requirements.txt"
    
    if not create_virtual_environment(venv_dir):
        sys.exit(1)
    
    if not install_dependencies(venv_dir, requirements_file):
        sys.exit(1)
    
    print("Dependency installation successful!")

if __name__ == "__main__":
    main()

Dependency installation successful!

In [ ]:
Database programming with Mysql

### 1 .Implement Inventory Management in Python with MySQL

In [1]:
import mysql.connector

conn = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="0000",
  database="python"
)

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D6DE77C7D0>

In [3]:
cursor = conn.cursor()

In [17]:
cursor.execute("CREATE DATABASE Inventory")
print(cursor)

CMySQLCursor: CREATE DATABASE Inventory

In [4]:
cursor.execute("USE Inventory")

In [19]:
cursor.execute("""
CREATE TABLE Inventory (
    id INT AUTO_INCREMENT PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    quantity INT NOT NULL
)
""")

print(cursor)

CMySQLCursor:
CREATE TABLE Inventory (
    id INT AUT..

In [5]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Purchases (
    id INT AUTO_INCREMENT PRIMARY KEY,
    product_id INT,
    purchase_date DATE NOT NULL,
    quantity INT NOT NULL,
    FOREIGN KEY (product_id) REFERENCES Inventory(id)
)
""")

# Create the Sales table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Sales (
    id INT AUTO_INCREMENT PRIMARY KEY,
    product_id INT,
    sale_date DATE NOT NULL,
    quantity INT NOT NULL,
    FOREIGN KEY (product_id) REFERENCES Inventory(id)
)
""")

In [21]:
def add_product(product_name, quantity):
    cursor.execute("INSERT INTO Inventory (product_name, quantity) VALUES (%s, %s)", (product_name, quantity))
    conn.commit()
    
add_product("iPhone 15", 100)
add_product("iPhone 15 pro", 50)

In [22]:
print(cursor)

CMySQLCursor: INSERT INTO Inventory (product_name, qua..

In [8]:
cursor.execute("select* from Inventory")
data = cursor.fetchall()
print(data)

[(1, 'iPhone 15', 80), (2, 'iPhone 15 pro', 50)]

In [6]:
def record_purchase(product_id, purchase_date, quantity):
    cursor.execute("INSERT INTO Purchases (product_id, purchase_date, quantity) VALUES (%s, %s, %s)",
                   (product_id, purchase_date, quantity))
    cursor.execute("UPDATE Inventory SET quantity = quantity + %s WHERE id = %s", (quantity, product_id))
    conn.commit()

record_purchase(1, "2023-09-17", 20)

In [7]:
def record_sale(product_id, sale_date, quantity):
    cursor.execute("INSERT INTO Sales (product_id, sale_date, quantity) VALUES (%s, %s, %s)",
                   (product_id, sale_date, quantity))
    cursor.execute("UPDATE Inventory SET quantity = quantity - %s WHERE id = %s", (quantity, product_id))
    conn.commit()
record_sale(1, "2023-09-18", 40)

In [9]:
cursor.execute("select* from Purchases")
data = cursor.fetchall()
print(data)

[(1, 1, datetime.date(2023, 9, 17), 20)]

In [10]:
cursor.execute("select* from Sales")
data = cursor.fetchall()
print(data)

[(1, 1, datetime.date(2023, 9, 18), 40)]

In [11]:
cursor.close()
conn.close()

### 2.Customer Order Processing Scenario

In [71]:
import mysql.connector

conn = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="0000",
  database="python"
)

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ADFC3ACF50>

In [72]:
cursor = conn.cursor()
cursor.execute("USE python")

In [14]:
# Create Customers Table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Customers (
        customer_id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255) NOT NULL,
        email VARCHAR(255) NOT NULL UNIQUE,
        phone VARCHAR(20),
        address TEXT
    )
""")

# Create Products Table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Products (
        product_id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255) NOT NULL,
        description TEXT,
        price DECIMAL(10, 2) NOT NULL,
        quantity_available INT NOT NULL
    )
""")

# Create Orders Table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Orders (
        order_id INT AUTO_INCREMENT PRIMARY KEY,
        customer_id INT NOT NULL,
        order_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        status ENUM('Pending', 'Shipped', 'Delivered') DEFAULT 'Pending',
        FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
    )
""")

# Create OrderDetails Table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS OrderDetails (
        order_detail_id INT AUTO_INCREMENT PRIMARY KEY,
        order_id INT NOT NULL,
        product_id INT NOT NULL,
        quantity_ordered INT NOT NULL,
        total_price DECIMAL(10, 2) NOT NULL,
        FOREIGN KEY (order_id) REFERENCES Orders(order_id),
        FOREIGN KEY (product_id) REFERENCES Products(product_id)
    )
""")

print("Tables created successfully.")

Tables created successfully.

In [35]:
cursor.execute("""
    INSERT INTO Customers (name, email, phone, address)
    VALUES
    ('Selvaraj', 'selva@gmail.com', '1234567898', 'Krishnagiri')
""")

In [36]:
cursor.execute("select* from Customers")
data = cursor.fetchall()
print(data)

[(1, 'Deivanai', 'deiva@gmail.com', '1234567899', 'Krishnagiri'), (2, 'Selvaraj', 'selva@gmail.com', '1234567898', 'Krishnagiri')]

In [37]:
cursor.execute("""
    INSERT INTO Products (name, description, price, quantity_available)
    VALUES ('iphone 15 pro', 'Retina display', 180, 100) """)

In [38]:
cursor.execute("select* from Products")
data = cursor.fetchall()
print(data)

[(1, 'iphone 15', 'Retina display', Decimal('80.00'), 13), (2, 'iphone 15 pro', 'Retina display', Decimal('180.00'), 100)]

In [58]:
cursor.execute("""
    INSERT INTO Orders (customer_id, status)
    VALUES
    (2, 'Shipped')""")

In [60]:
# calculates the total cost of an order and updates product quantities in the database
def place_order(customer_id, product_id, quantity_ordered):
    
    cursor.execute("SELECT quantity_available, price FROM Products WHERE product_id = %s", (product_id,))
    result = cursor.fetchone()
    if result is None:
        print("Product not found.")
        return
    
    quantity_available, price = result
    if quantity_ordered > quantity_available:
        print("Product is not available in the requested quantity.")
        return

    # Calculate total cost
    total_price = price * quantity_ordered

    cursor.execute("UPDATE Products SET quantity_available = quantity_available - %s WHERE product_id = %s", (quantity_ordered, product_id))
    cursor.execute("INSERT INTO Orders (customer_id, order_date, status) VALUES (%s, NOW(), 'Pending')", (customer_id,))
    order_id = cursor.lastrowid
    cursor.execute("INSERT INTO OrderDetails (order_id, product_id, quantity_ordered, total_price) VALUES (%s, %s, %s, %s)",
                   (order_id, product_id, quantity_ordered, total_price))
    
    conn.commit()
    print("Order placed successfully.")


# customer_id, product_id, quantity_ordered
place_order(2, 1, 1)

Order placed successfully.

In [73]:


cursor.execute("select* from Orders")
data = cursor.fetchall()
print(data)

[(3, 1, datetime.datetime(2023, 9, 17, 20, 36, 53), 'Shipped'), (4, 1, datetime.datetime(2023, 9, 17, 20, 42, 23), 'Pending'), (5, 1, datetime.datetime(2023, 9, 17, 20, 47, 16), 'Pending'), (6, 1, datetime.datetime(2023, 9, 17, 20, 48, 55), 'Pending'), (7, 2, datetime.datetime(2023, 9, 17, 20, 54), 'Pending'), (8, 2, datetime.datetime(2023, 9, 17, 20, 54, 12), 'Pending'), (9, 2, datetime.datetime(2023, 9, 17, 21, 10, 24), 'Shipped'), (10, 2, datetime.datetime(2023, 9, 17, 21, 10, 40), 'Pending')]

In [74]:
cursor.execute("select* from OrderDetails")
data = cursor.fetchall()
print(data)

[(3, 6, 1, 7, Decimal('560.00')), (4, 8, 1, 7, Decimal('560.00')), (5, 10, 1, 1, Decimal('80.00'))]

In [78]:
def generate_order_report():
    #generate a report for order_id 4
    order_id = 4 
    cursor.execute("""
        SELECT O.order_id, C.name
        FROM Orders O
        JOIN Customers C ON O.customer_id = C.customer_id
        WHERE O.order_id = %s
    """, (order_id,))
    
    order_report = cursor.fetchall()

    # Handling case where the order is not found
    if not order_report:
        print(f"Order ID {order_id} not found.")
        return
    
    print(f"Order Report for Order ID {order_id}:")
    for row in order_report:
        order_id, customer_name = row
        print(f"Customer: {customer_name}, Order ID: {order_id}")


generate_order_report()

Order Report for Order ID 4:
Customer: Deivanai, Order ID: 4

In [80]:
# Close the cursor and connection when done
cursor.close()
conn.close()

### 3. Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data.

Instructions:

Your Python program should:

i. Connect to the MySQL database.

ii. Retrieve all records from the your table table. 

iii. Calculate the total quantity of all records retrieved.

iv. Update the quantity column of each record by doubling its value.

v. Commit the changes to the database. 

vi. Close the database connection.

Handle any potential errors that may occur during the database connection and data manipulation, such as connection failures or SQL errors.

In [131]:
import mysql.connector

conn = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="0000",
  database="python"
)
print(conn)
cursor = conn.cursor()
cursor.execute("USE python")

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ADFD198950>

In [ ]:
cursor.execute("""
    CREATE TABLE products_3 (
        id INT AUTO_INCREMENT PRIMARY KEY,
        quantity_available INT,
        price DECIMAL(10, 2)
    )
""")

In [110]:
cursor.execute("INSERT INTO products_3 (quantity_available, price) VALUES (13, 10)")

In [132]:
cursor.execute("select* from products_3")
data = cursor.fetchall()
print(data)

[(1, 1216, Decimal('19.99')), (2, 960, Decimal('19.99')), (3, 160, Decimal('40.00')), (4, 104, Decimal('10.00'))]

In [133]:
try:
    # Retrieve all records from the table
    cursor.execute("SELECT quantity_available FROM products_3")

    # Fetch all records
    records = cursor.fetchall()

    # Calculate the total quantity of all records retrieved
    total_quantity = sum(int(record[0]) for record in records)
    print("Total Quantity of all products before Doubling : ",total_quantity)
    print()
    
    #Update the quantity column of each record by doubling its value.
    cursor.execute("select* from products_3")
    records = cursor.fetchall()

   
    for record in records:
        new_quantity = int(record[1]) * 2 
        cursor.execute("UPDATE products_3 SET quantity_available = %s WHERE id = %s", (new_quantity, record[0]))

    # Commit the changes to the database
    conn.commit()
    
    cursor.execute("select* from products_3")
    data = cursor.fetchall()
    print(data)
    
    print()
    cursor.execute("SELECT quantity_available FROM products_3")
    records = cursor.fetchall()
    total_quantity = sum(int(record[0]) for record in records)
    print("Total Quantity of all products After Doubling : ",total_quantity)
    print()

    # Close the cursor and the database connection
    cursor.close()
    conn.close()

    print("Data successfully updated.")
except mysql.connector.Error as e:
    print("Error:", e)

Total Quantity of all products before Doubling :  2440

[(1, 2432, Decimal('19.99')), (2, 1920, Decimal('19.99')), (3, 320, Decimal('40.00')), (4, 208, Decimal('10.00'))]

Total Quantity of all products After Doubling :  4880

Data successfully updated.

### 4. Designing the database schema for an employee management system

#### 2 .Python Code to Connect to the Database and Retrieve Employees in a Specific Department:

In [134]:
import mysql.connector

conn = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="0000",
  database="python"
)
print(conn)
cursor = conn.cursor()
cursor.execute("USE python")

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ADFC3436D0>

#### 1.Database Schema

In [135]:
cursor.execute("""
        CREATE TABLE departments (
            dept_id INT AUTO_INCREMENT PRIMARY KEY,
            dept_name VARCHAR(255) NOT NULL
        )
    """)

In [136]:
cursor.execute("""
        CREATE TABLE employees (
            employee_id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(255) NOT NULL,
            salary DECIMAL(10, 2),
            hire_date DATE,
            dept_id INT,
            FOREIGN KEY (dept_id) REFERENCES departments(dept_id)
        )
    """)

In [137]:
cursor.execute("INSERT INTO departments (dept_name) VALUES (%s)", ("Python Instructor",))

In [138]:
 cursor.execute("INSERT INTO employees (name, salary, hire_date, dept_id) VALUES (%s, %s, %s, %s)",
                   ("Govind", 90000.00, "2023-09-16", 1))

In [139]:
department_name = 'Python Instructor'

# Retrieve employees in a specific department
cursor.execute("""
    SELECT e.name, e.salary
    FROM employees e
    JOIN departments d ON e.dept_id = d.dept_id
    WHERE d.dept_name = %s
""", (department_name,))

employees = cursor.fetchall()
print(employees)

[('Govind', Decimal('90000.00'))]

#### 3. Update employee Salary

In [141]:
employee_name = 'Govind'
new_salary = 150000

# Update the employee's salary
cursor.execute("UPDATE employees SET salary = %s WHERE name = %s", (new_salary, employee_name))

cursor.execute("select* from employees")

employees = cursor.fetchall()
print(employees)

[(1, 'Govind', Decimal('150000.00'), datetime.date(2023, 9, 16), 1)]